<head>
  <meta charset="UTF-8">
  <title>KanbanPro</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<header>
  <h2>KanbanPro</h2>
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Registro</a>
    <a href="/dashboard">Dashboard</a>
  </nav>
</header>