{{> header}}

<h2>Inicio de Sesión</h2>
<form>
  <input type="text" name="username" placeholder="Usuario">
  <input type="password" name="password" placeholder="Contraseña">
  <button>Ingresar</button>
</form>

{{> footer}}