{{> header}}

<h1>Registro</h1>
<form>
  <input type="text" name="username" placeholder="Usuario">
  <input type="password" name="password" placeholder="Contraseña">
  <input type="text" name="email" placeholder="Correo Electrónico">
  <button>Registrarse</button>
</form>

{{> footer}}